---
import { siteConfig } from "@/config/site";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---


<footer class="bg-black">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Next.js
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Remix
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Svelte
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Alpine.js
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Tailwind
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="#" class="text-sm text-neutral-500 hover:text-white">
          Partners
        </a>
      </div>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      <span class="inline-flex justify-center w-full gap-3 m-auto md:justify-start md:w-auto">
        <a class="w-6 h-6 transition fill-neutral-300 hover:text-white">
          <span class="sr-only">
            github
          </span>
          <ion-icon class="w-5 h-5 md hydrated" name="logo-github" role="img" aria-label="logo github"></ion-icon>
        </a>
        <a class="w-6 h-6 transition fill-neutral-300 hover:text-white">
          <span class="sr-only">
            twitter
          </span>
          <ion-icon class="w-5 h-5 md hydrated" name="logo-twitter" role="img" aria-label="logo twitter"></ion-icon>
        </a>
        <a class="w-6 h-6 transition fill-neutral-300 hover:text-white">
          <span class="sr-only">
            Instagram
          </span>
          <ion-icon class="w-5 h-5 md hydrated" name="logo-instagram" role="img" aria-label="logo instagram"></ion-icon>
        </a>
        <a class="w-6 h-6 transition fill-neutral-300 hover:text-white">
          <span class="sr-only">
            Linkedin
          </span>
          <ion-icon class="w-5 h-5 md hydrated" name="logo-linkedin" role="img" aria-label="logo linkedin"></ion-icon>
        </a>
      </span>
    </div>
    <p class="mt-8 text-center">
      <span class="mx-auto mt-2 text-sm text-gray-500">
        Copyright © 2024
        <a href="https://github.com/dustinbturner" class="mx-2 text-neutral-200 hover:text-white" rel="noopener noreferrer">
          @dustinbturner
        </a>
      </span>
    </p>
    <p class="text-center text-sm leading-loose balance-text">
      Original template of this website by{" "}
      <a
        href={siteConfig.links.twitter}
        target="_blank"
        rel="noreferrer"
        class="font-medium"
      >
        mickasmt
      </a>
      .
    </p>
  </div>
</footer>            


