---
import { buttonVariants } from "@/components/ui/button";
import { getCategories } from "@/lib/fetchers";
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { Input } from "../components/ui/input"
import Fuse from "fuse.js";


const categories = await getCategories();

type Props = {
  title: string;
};

const { title } = Astro.props;
const { category } = Astro.params;
---

<h1 class="inline-block font-heading text-4xl">{title}</h1>

<!-- Search with Fuse.js -->

<div class="flex items-start justify-between my-6 max-md:gap-4">
  
  <div
    class="flex items-center lg:w-full max-w-xs h-10 rounded-md text-muted-foreground"
  >
  <form class="form">
  <Input type="search" placeholder="Search - Coming Soon" required min="2" max="24" name="search" id="search"  /></form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>
  <script>
    const form = document.querySelector("form");
    import DOMPurify from "dompurify";
    form?.addEventListener("submit", (e) => {
      e.preventDefault();
      const formData =  new FormData(form);
      const searchValue = formData.get("search");
      const searchTerm = searchValue ? DOMPurify.sanitize(searchValue.toString()) : undefined;
      if (!searchTerm || searchTerm.length === 0) return;
      const url = new URL("/search", window.location.origin);
      url.searchParams.set("q", searchTerm);
      window.location.assign(url.toString());
    });
  </script>




  {
    categories?.length ? (
      <ul class="flex snap-x snap-mandatory overflow-auto items-center space-x-2 lg:space-x-2.5 pb-2">
        <li class="flex-shrink-0 snap-start">
          <a
            href={`/blog`}
            class={cn(
              !category ? "select-none" : "",
              buttonVariants({
                variant: !category ? "default" : "outline",
              })
            )}
          >
            All posts
          </a>
        </li>
        {categories.map((item) => (
          <li class="flex-shrink-0 snap-start">
            <a
              href={`/blog/category/${item}`}
              class={cn(
                "capitalize",
                item === category ? "select-none" : "",
                buttonVariants({
                  variant: item === category ? "default" : "outline",
                })
              )}
            >
              {item}
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <div />
    )
  }
</div>

<hr class="mb-7" />
