---
import { Icon } from "astro-icon/components";
---

<div class="flex items-start justify-between my-6 max-md:gap-4">
    <div
      class="flex items-center lg:w-full max-w-xs h-10 rounded-md px-2 lg:px-3 border text-muted-foreground"
    >
      <Icon name="ri:search-line" class="size-5" />
      <span class="text-sm ml-2 hidden lg:flex">Search (coming soon)</span>
    </div>